:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body,
pre,
code,
kbd,
samp {
    font-family: 'Press Start 2P', cursive;
    cursor: url('~assets/img/cursor/cursor.png'), auto;
    /* background-color: #f8f8f8; */
    /* background-color: #f2f7f5; */
    background-color: #f5f5f5;
}

.bordered-without-shadow{
    border: 2px solid black !important;
}

.bordered,
.bordered-hover {
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-box-shadow: -5px 5px 0px 1px rgb(34, 34, 34) !important;
    -moz-box-shadow: -5px 5px 0px 1px rgb(34, 34, 34) !important;
    box-shadow: -5px 5px 0px 0px rgb(34, 34, 34) !important;
    border-radius: 2px !important;
    border: 2px solid black;
    /* border: 2px solid #191919; */
}

.bordered-hover:hover,
.bordered-hover:focus,
.bordered-hover:active {
    -webkit-transform: translateY(7px);
    transform: translateY(7px);
    -webkit-box-shadow: -2px 2px 0px 1px rgb(34, 34, 34) !important;
    -moz-box-shadow: -2px 2px 0px 1px rgb(34, 34, 34) !important;
    box-shadow: -2px 2px 0px 0px rgb(34, 34, 34) !important;
    border: 2px solid black;
}

.bordered-hover:hover img {
    opacity: 0.86 !important;
}

.boder-top{
  border-top: 2px solid black;
}

.tags,
.dropdown-toggle {
    cursor: url('~assets/img/cursor/cursor-click.png'), auto !important;
}

.tags{
  border: 1px dashed black;
  border-radius: 2px;
}

#content{
    display: none;
}

a{
    cursor: url('~assets/img/cursor/cursor-click.png'), auto !important;
    text-decoration: none;
}

button{
    cursor: url('~assets/img/cursor/cursor-click.png'), auto !important;
}

.socmed-icon{
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    image-rendering: pixelated;
    /* object-fit: cover; */
    width: 50px;
}

.socmed-icon:hover{
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
}

.active-uri{
    border-bottom: black solid 2px;
}

a.nuxt-link-active {
  border-bottom: none;
}

a.nuxt-link-exact-active {
  border-bottom: 2px solid black;
  /* border-left: 2px dashed black;
  border-right: 2px dashed black; */
  border-bottom-width: 70% !important;

  /* border-radius: 5px; */
}

h1 {
  font-size: 22px;
}

h2 {
  font-size: 21px;
}

h3 {
  font-size: 19px;
}

h4 {
  font-size: 17px;
}

h5 {
  font-size: 15px;
}

h6 {
  font-size: 12px;
}

p,li,label {
  font-size: 12px;
}

code,
table {
  font-size: 11px !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 15px;
}

input, textarea, select{
  font-size: 12px !important;
  border-radius: 2px !important;
  border: 1px solid black !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  cursor: url('~assets/img/cursor/cursor-click.png'), auto !important;
}

option, 
option:hover,
option:active,
option:focus,
.cursor-click {
  cursor: url('~assets/img/cursor/cursor-click.png'), auto !important;
   /*cursor: url('~assets/img/cursor/cursor.png'), auto !important;*/
}

input:active,
input:focus,
textarea:active,
textarea:focus,
select:active,
select:focus{
  -webkit-box-shadow: -4px 2px 0px 1px rgb(34, 34, 34) !important;
  -moz-box-shadow: -4px 2px 0px 1px rgb(34, 34, 34) !important;
  box-shadow: -4px 2px 0px 0px rgb(34, 34, 34) !important;
}

input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
  font-size: 11px !important;
}

.btn-primary{
  border-radius: 2px !important;
  border: 2px solid black !important;
  font-size: 12px;
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.btn-close:active,
.btn-close:focus,
.btn-close:hover{
  -webkit-box-shadow: -4px 2px 0px 1px rgb(34, 34, 34) !important;
  -moz-box-shadow: -4px 2px 0px 1px rgb(34, 34, 34) !important;
  box-shadow: -4px 2px 0px 0px rgb(34, 34, 34) !important;
}

.btn-close{
  border-radius: 2px !important;
  border: 1px solid black !important;
  font-size: 11px;
  padding: 10px !important;
  color: black !important;
  justify-content: center;
}


/* animasi */
.animated {
  animation: fadeInAnimation ease 1s;
  -webkit-animation-duration: 1.3s;
  animation-duration: 1.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
